.container {
  background-color: #dae3eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-family: "Oxanium", cursive;
}

.wrapper {
  width: 1424px;
}

.heading {
  font-size: 50px;
  font-weight: lighter;
  color: #1e3d58;
}

.hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: #1e3d58;
  margin: 2rem 0;
}

.contentContainer {
  display: flex;
  align-items: center;
}

.left {
  width: calc(1424px / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title,
.subtitleFirstWord {
  color: #1e3d58;
  font-size: 36px;
}

.subtitle {
  color: gray;
}

.leftBottom {
  margin-top: 26px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(60, 60, 60);
}

.right {
  width: calc(1424px / 4 * 3);
  display: flex;
}

.wrapper {
  position: relative;
}

.cardContainer {
  margin-left: 50px;
  display: flex;
  margin-top: 20px;
  width: max-content;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

@media (max-width: 1600px) {
  .wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .heading {
    text-align: center;
    font-size: 40px;
  }

  .right {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
  }

  .cardContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 40px;
  }

  .hr {
    display: none;
  }

  .left {
    width: 90%;
  }

  .left h2 {
    text-align: center;
  }

  .leftBottom {
    text-align: center;
  }

  .title {
    text-align: center;
  }
}
