.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background: #3a6b34;
  background: rgb(58, 107, 52);
  background: linear-gradient(152deg, rgba(58, 107, 52, 1) 0%, rgba(203, 210, 143, 1) 100%);
  border-bottom: 1px solid #3a6b34;
  padding: 0 20px;
  z-index: 99999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
  transition-duration: 0.25s;
}

.left {
  flex: 2;
  color: white;
  font-family: "Courgette", cursive;
  font-size: 30px;
  letter-spacing: 2px;
}

.left a {
  font-weight: bold;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  color: white;
}

.right a,
.right div {
  font-weight: bold;
  font-size: 17px;
}

.right div {
  user-select: none;
}

.right a:hover {
  color: gold;
}

.navMoreMenu {
  position: relative;
}

.navMoreMenu span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navMoreMenu span:hover {
  color: gold;
}

.moreMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: max-content;
  background-color: #3a6b34;
  padding: 10px 20px;
  z-index: 9;
  position: absolute;
  top: 26px;
  right: -40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.selectContainer {
  padding: 0 2rem;
  position: relative;
}

.select {
  z-index: 9;
  position: absolute;
  left: 26px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  color: #3a6b34;
  background-color: #e1f1df;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
  overflow: hidden;
}

.selectItem {
  padding: 5px 6px;
}

.selectItem:hover {
  background-color: gold;
}

.moreIcon {
  font-size: 22px;
  color: white;
  display: none;
  cursor: pointer;
}

.rightMobileWrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.rightMobile {
  position: relative;
  z-index: 9;
  height: 100%;
  width: 250px;
  font-size: 22px;
  background: #3a6b34;
  background: rgb(58, 107, 52);
  background: linear-gradient(152deg, rgba(58, 107, 52, 1) 0%, rgba(203, 210, 143, 1) 100%);
  z-index: 9;
  color: white;
}

.rightMobileMenu {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.rightMobileMenu a {
  margin-left: 25px;
  padding: 5px 0;
}

.rightMobileMenu hr {
  width: 100%;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 1024px) {
  .left {
    font-size: 20px;
  }

  .right {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .right {
    gap: 0;
    justify-content: space-evenly;
  }

  .navLink,
  .navMoreMenu {
    display: none;
  }

  .navMoreMenuMobile {
    position: relative;
  }

  .moreIcon {
    display: block;
  }
}
